ul.nav
    each item in navLinks
        li.nav-item
            a.nav-link(href=item.url, class={active: item.title === title})= item.title

script. 
    const headerElement = document.getElementsByTagName('header')[0];
    if(headerElement) {
        window.addEventListener('scroll', function(e) {
            if(window.scrollY > headerElement.scrollTop) {
                headerElement.classList.add('sticky')
            } else {
                headerElement.classList.remove('sticky')
            }
        })
    }